GOOGLE_GENAI_USE_VERTEXAI="true"
GOOGLE_CLOUD_PROJECT="enterprise-rag-system-1234"
GOOGLE_CLOUD_LOCATION="global"
GEMINI_API_KEY = ''
OPENAI_API_KEY = ''
ANTHROPIC_API_KEY=''
AGENT_SERVER_URL=http://localhost:8004
TAVILY_API_KEY=''